[submodule "external/dartt-protocol"]
	path = external/dartt-protocol
	url = https://github.com/ocanath/dartt-protocol
[submodule "external/serial-cross-platform"]
	path = external/serial-cross-platform
	url = https://github.com/ocanath/serial-cross-platform
[submodule "external/byte-stuffing"]
	path = external/byte-stuffing
	url = https://github.com/ocanath/byte-stuffing
